.app {
  font-family: "Alegreya Sans SC";
  padding-bottom: 30px;
}

.header {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffffff;
}
